body{
    margin: 0px;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #1ed760;
}

nav {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    padding: 28px 17px;
    font-weight: 700;
}

main {
    height: 968px;
    background-color: rgb(41, 65, 171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    font-size: 146px;
    line-height: 166px;
    color: #1ed760;
    font-weight: 900;
    position: relative;
    left: 225px;
    padding-bottom: 40px;
}

.headline-first {
    position: relative;
    left: -2.5em
}

.sub-headline {
    color: #1ed760;
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
}

.button-area {
    text-align: center;
}

.button-style {
    padding: 14px 32px;
    background-color: #1ed760;
    border-radius: 500px;
    font-size: inherit;
    color: #2941ab;
    font-weight: 700;
    border: none;
}

.button-style:hover {
    transform: scale(1.07);
    background-color: #2de26d;
}

footer {
    height: 530px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid yellow;
    max-width: 1170px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}