.main {
    display: flex;
    justify-content: space-between;
}

.sub-main {
    display: flex;
    justify-content: flex-end;
}

.box {
    width: 100px;
    height: 100px;
    color: white;
    background-color: purple;
}

.margin-left {
    margin-left: 5px;
}